<% include partials/header %>

<body>
    
<!-- Following Menu -->
<div class="ui large top fixed hidden menu">
  <div class="ui container">
    <a href="/" class="item">Home</a>
    <a href="/catalogue" class="item">The Catalogue</a>
    <a href="../about" class="item">About</a>
    <div class="right menu">
      
    <% if(!currentUser) { %>
      
      <div class="item">
        <a href="/login" class="ui button">Log in</a>
      </div>
      <div class="item">
        <a href="/login" class="ui primary button">Sign Up</a>
      </div>
      
  <% } else { %>
      <div class="item">
        <a href="/user/<%= currentUser._id %>" class="ui button">logged in as <%= currentUser.username %></a>
        <a href="/logout" class="ui primary button">Log Out</a>
      </div>
      
    <% } %>
    </div>
  </div>
</div>

<!-- Sidebar Menu -->
<div class="ui vertical inverted sidebar menu">
  <a href="/" class="item">Home</a>
  <a href="/catalogue" class="item">The Catalogue</a>
  <a href="../about" class="item">About</a>
  <% if(!currentUser) { %>
  <a href="/login" class="item">Login</a>
  <a href="/login" class="item">Signup</a>
  <% } else { %>
  <a href="/user/<%= currentUser._id %>" class="item">Profile Page</a>
  <a href="/logout" class="item">Log Out</a>
    <% } %>
  
</div>


<!-- Page Contents -->
<div class="pusher">
    <!-- menu and banner -->
    <div class="ui inverted vertical masthead center aligned segment">

    <div class="ui container">
      <div class="ui large secondary inverted pointing menu">
        <a class="toc item">
          <i class="sidebar icon"></i>
        </a>
        <a href="/" class="item">Home</a>
        <a href="/catalogue" class="item">The Catalogue</a>
        <a href="../about" class="item">About</a>
        <div class="right item">
          
          <% if(!currentUser) { %>
            <a href="/login" class="ui inverted button">Log in</a>
            <a href="/register" class="ui inverted button">Sign Up</a>
          <% } else { %>
            <a href="/user/<%= currentUser._id %>" class="ui inverted button">logged in as <%= currentUser.username %></a>
            <a href="/logout" class="ui inverted button">Log Out</a>
          <% } %>
          
        </div>
      </div>
    </div>
    
    

    <div class="ui text container">
      <h1 class="ui inverted header">
        Greenwood
      </h1>
      <h2>Growing a community with deep roots.</h2>
      <a href="/catalogue" class="ui huge primary button">The Catalogue <i class="right arrow icon"></i></a>
    </div>

  </div>



<div class="ui middle aligned center aligned grid">
  <div class="column">
    <h2 class="ui image header">
      <img src="assets/images/logo.png" class="image">
      <div class="content">
        Edit <%=foundUser.username%>
      </div>
    </h2>
    <form class="ui large form" action="/user/<%= foundUser._id %>?_method=PUT" method="POST">
      <div class="ui stacked segment">
        <div class="field">
            <label>First Name</label>
          <div class="ui left icon input">
            <i class="trademark icon"></i>
            <input type="text" name="firstName" placeholder="First Name" value="<%=foundUser.firstName%>">
          </div>
        </div>
        <div class="field">
            <label>Last Name</label>
          <div class="ui left icon input">
            <i class="trademark icon"></i>
            <input type="text" name="lastName" placeholder="Last Name" value="<%=foundUser.lastName%>">
          </div>
        </div>
        <div class="field">
            <label>Logo Image URL</label>
          <div class="ui left icon input">
            <i class="image icon"></i>
            <input type="text" name="image" placeholder="Logo Image URL" value="<%=foundUser.image%>">
          </div>
        </div>
        <div class="field">
            <label>E-mail Address</label>
          <div class="ui left icon input">
            <i class="mail outline icon"></i>
            <input type="text" name="email" placeholder="E-Mail Address" value="<%=foundUser.email%>">
          </div>
        </div>
        <div class="field">
            <label>Website</label>
          <div class="ui left icon input">
            <i class="arrow right icon"></i>
            <input type="text" name="website" placeholder="website" value="<%=foundUser.website%>">
          </div>
        </div>
        <div class="field">
            <label>Description</label>
          <textarea rows="2" name="_description" placeholder="Description"><%=foundUser.description%></textarea>
        </div>
        <button class="ui fluid large submit button">Submit</button>
      </div>

      <div class="ui error message"></div>

    </form>

  </div>
</div>



<% include partials/footer %>